*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
	font-family: 'Anton', sans-serif;
	font-size: 16px;
	color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

ul,
li {
	display: block;
	margin: 0;
	padding: 0;
}

section {
    padding-top: 0; /*correct*/
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.header {
	background: linear-gradient(#5b4c5d, #cadce3);
	padding-top: 57px;
	padding-bottom: 322px;
}

.header a {
	color: #ffffff;
}

.menu {
	display: flex;
    justify-content: space-around;
}

.menu li a {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	letter-spacing: 0.1em;
}

.menu li a:hover {
	border-bottom: 1px solid #ffffff;
    color: #e2e4b9;
}

.intro {
    display: flex;
    justify-content: space-between;
	margin-top: 150px;
}

.intro__info {
    text-transform: uppercase;
}

.intro__img {
    width: 400px;
    border: 5px solid #e2e4b9;
    border-radius: 10px;
}

.intro__suptitle {
    font-size: 20px;
	letter-spacing: 0.1em;
	color: #ffffff;
	margin-bottom: 0;
    margin-top: 10px;
    text-transform: none;
}

.intro__title {
    color: #ffffff;
	font-size: 70px;
	letter-spacing: 0.05em;
	margin-bottom: 19px;
}

.intro__title span {
    color: #e2e4b9;
}

.intro__contacts {
    min-width: 40%;
    background: rgba(0, 0, 0, 0.2);
}

.contacts__title {
    text-align: center;
    font-size: 40px;
    letter-spacing: 5px;
}

.contacts__list {
    margin-left: 40px;
    margin-top: 30px;
}

.contacts__list li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
}

.contacts__list li a i {
    padding-right: 25px;
    font-size: 30px;
}